# --- Root ---

# Dependencies
node_modules/
jspm_packages/
bower_components
web_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Caches & Temp
.npm
.eslintcache
.stylelintcache
.pnpm-store
.temp
.tmp
.cache
.cache/
.parcel-cache
*.tsbuildinfo

# Environment variables
.env
.env.*
!.env.example
*.local

# OS & IDEs (Editors)
.DS_Store
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Coverage
lib-cov
coverage
*.lcov
.nyc_output

# Node & Package Managers
.node_repl_history
*.tgz
.yarn-integrity
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.tern-port
.vscode-test



# --- Backend ---

# Compiled binary addons
build/Release
.lock-wscript

# compiled output (NestJS)
/build

# Serverless & DB
.serverless/
.dynamodb/
.firebase/



# --- Frontend ---

# Build outputs (Vite, Next, Nuxt, etc.)
dist
dist-ssr
out
.output
.next
.nuxt
.vuepress/dist
.svelte-kit/
**/.vitepress/dist
**/.vitepress/cache
.docusaurus

# Bundlers & Tooling
.grunt
.fusebox/

# Vite files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.vite/
